body {
  margin: 0;
}
.main {
  background-color: #fbe4ff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #243b93;
  padding: 0 300px;
}
.logo {
  top: 15px;
  left: 300px;
}
.menu {
  display: flex;
  align-items: center;
}
.ul {
  list-style: none;
  margin: 0 auto;
}
.li {
  display: inline-block;
}
.menu-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.lang {
  display: flex;
  align-items: center;
}
.ua {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: right;
}
.box {
  height: 85px;
  background-color: #bff0ff;
  font-size: 44px;
  font-style: italic;
  color: #202846;
  line-height: 85px;
  padding: 0 300px;
}
.box-white {
  display: block;
  top: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  width: 1320px;
  height: 57px;
  background-color: white;
  font-size: 28px;
  line-height: 57px;
  text-align: center;
  color: #202846;
}
.card {
  width: 1320px;
  height: 300px;
  background: linear-gradient(45deg, #adcbd4, #00aee5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
}
.btn {
  width: 210px;
  height: 46px;
  border-radius: 30px;
  background-color: #243b93;
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 350px;
}
.star {
  position: absolute;
  right: 410px;
}
.white-star {
  position: absolute;
  right: 410px;
}
#star1,
#star2 {
  top: 285px;
}

#star3,
#star4 {
  top: 625px;
}

#star5,
#star6 {
  top: 970px;
}

#star7,
#star8 {
  top: 1310px;
}

#btn1 {
  top: 530px;
}

#btn2 {
  top: 870px;
}
#btn3 {
  top: 1210px;
}
#btn4 {
  top: 1555px;
}

.card:hover {
  background-color: #2cbdeb;
  box-shadow: 0 0 60px 4px #2cbdeb;
}
.card:hover > .btn {
  background-color: #ef075b;
}
.card:hover > .white-star {
  display: none;
}

.photo {
  margin-right: 20px;
  margin-top: 33px;
  margin-left: 52px;
  float: left;
}

.info {
  padding: 1px;
}
.h2 {
  color: #353c57;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}
.border {
  width: 750px;
  height: 3px;
  background-color: white;
  margin-left: 520px;
  margin-top: -30px;
}
.text {
  width: 740px;
  height: 185px;
  background-color: white;
  margin-left: 520px;
  margin-top: 10px;
  font-size: 22px;
  padding: 5px;
  color: #202846;
}
